<%- include('header') -%>


<section id="content" class="container">
    <div class="jumbotron">
        <h1 class="display-4">Area Amministrativa</h1>
    </div>
    <%- include('menu') -%>
</section>


<%- include('footer') -%>